button {
  margin: 1rem;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.btn {
  background-color: var(--background-color);
  color: #222;
  padding: .5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  width: 10em;
  height: 3.2em;
  --background-color: #AEFEFF;
  --border-size: 6px;
  --accent-color: #35858B;
}

/* border pop */
.btn.btn-border-pop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid var(--accent-color);
  -webkit-transition: top, left, right, bottom, 100ms ease-in-out;
  transition: top, left, right, bottom, 100ms ease-in-out;
  border-radius: 12px;
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
}

/* background slide */
.btn.btn-background-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  border-radius: 12px;
}

.btn.btn-background-slide:hover {
  border-radius: 12px;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  border-radius: 12px;
}

.btn.btn-background-slide {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  z-index: 1;
  border-radius: 12px;
}

.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
  color: white;
  border-radius: 12px;
}

/* background circle */
.btn.btn-background-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--background-color);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.btn.btn-background-circle:hover::before,
.btn.btn-background-circle:focus::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.btn.btn-background-circle {
  z-index: 1;
  overflow: hidden;
  background-color: var(--accent-color);
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}

.btn.btn-background-circle:hover,
.btn.btn-background-circle:focus {
  color: white;
}

/* background underline */
.btn.btn-border-underline:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.btn.btn-border-underline:focus:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.btn.btn-border-underline:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* border slidins sand */
.btn.shadow-border-sliding-sand {
  background-color: var(--background-color);
  color: #222;
  padding: .5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.btn.shadow-border-sliding-sand:hover {
  color: #fff;
}

.btn.shadow-border-sliding-sand:hover:after {
  width: 100%;
  left: 0;
}

.btn.shadow-border-sliding-sand:after {
  border-radius: 12px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: var(--accent-color);
  right: 0;
}

.btn.shadow-border-sliding-sand:after {
  border-radius: 12px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: var(--accent-color);
  right: 0;
}

.btn.shadow-border-sliding-sand:active {
  top: 2px;
}

/* glow effect */
.btn.btn-glow:hover {
  background: var(--background-color);
  -webkit-box-shadow: 0 0 5px #6c327a, 0 0 10px #35858B, 0 0 20px #6c327a, 0 0 50px #35858B;
          box-shadow: 0 0 5px #6c327a, 0 0 10px #35858B, 0 0 20px #6c327a, 0 0 50px #35858B;
}

/* double effect */
.btn.btn-double:hover {
  -webkit-box-shadow: 10px 10px 0px var(--accent-color);
          box-shadow: 10px 10px 0px var(--accent-color);
  top: -3px;
  left: -3px;
}

/* border */
.btn.btn-border:hover {
  border: 5px solid var(--accent-color);
  color: #6c327a;
  background-color: #81a7a8;
}

/* fill */
.btn.btn-fill {
  position: relative;
}

.btn.btn-fill span {
  position: relative;
  border-radius: 12px;
}

.btn.btn-fill::before {
  content: "";
  position: absolute;
  left: -0.1px;
  right: -0.1px;
  bottom: 0;
  height: 100%;
  -webkit-transform: scaleY(0.2);
          transform: scaleY(0.2);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1), -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  background-color: var(--accent-color);
  opacity: 0.5;
  border-radius: 12px;
}

.btn.btn-fill:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  border-radius: 12px;
}
/*# sourceMappingURL=buttons.css.map */